[safe]
	directory = *
	
# gitpod
{{ if eq .chezmoi.username "gitpod" -}}

[credential]
	helper = /usr/bin/gp credential-helper

# not gitpod
{{ else if not (eq .chezmoi.username "gitpod") -}}

{{ end -}}

[push]
	default = simple
	autoSetupRemote = true

[user]
	name = Ivan Isekeev
	email = hi@ivanisekeev.com

[core]
	editor = hx
	pager = delta
	autocrlf = input
	excludesFile = ~/.gitignore

[interactive]
	diffFilter = delta --color-only

[init]
	defaultBranch = main

[branch "master"]
    mergeOptions = --squash

[delta]
	navigate = true
	light = true
	side-by-side = true
	side-by-side = true
	line-numbers-left-format = ""
	line-numbers-right-format = "│ "

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[checkout]
  defaultRemote = origin

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	ds = diff --staged
	ap = add -p
	changes = log -n1 -p --format=fuller
	amend = commit --amend -C HEAD
	undo = clean -f -d
	undoci = reset HEAD~1
	unstage = reset HEAD --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
	lg-full = log --name-status --pretty=fuller
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
[credential "https://gitlab.vrt.one"]
	helper = 
	helper = !/data/data/com.termux/files/usr/bin/glab auth git-credential
