{{ if eq .chezmoi.os "android" -}}

#!/bin/sh

echo -e "\e[1;31m-------update packages--------\e[0m"
pkg update -y
pkg upgrade -y

echo -e "\e[1;31m-------install other tools--------\e[0m"

pkg install -y termux-tools termux-api glab-cli git-delta python direnv nnn openssh openssl libxml2 libxslt termux-api nodejs
pip install trash-cli

echo -e "\e[1;31m-------install helix--------\e[0m"

pkg install helix
hx --grammar fetch
hx --grammar build

echo -e "\e[1;31m-------install rust environment--------\e[0m"
pkg install rust

echo -e "\e[1;31m-------install ai tool--------\e[0m"
pip install shell-gpt
cargo install llmvm-codeassist
cargo install llmvm-core
cargo install llmvm-outsource

#echo -e "\e[1;31m-------install ledger tool--------\e[0m"
#pip install fava

echo -e "\e[1;31m-------install web dev environment--------\e[0m"
pkg install golang
go install github.com/mattn/efm-langserver@latest

corepack enable pnpm
pnpm -g install prettier eslint eslint_d stylelint @fsouza/prettierd yaml-language-server @vue/language-server typescript@5.2.2 vscode-langservers-extracted
pkg install binutils
cargo install taplo-cli --locked --features=lsp

echo -e "\e[1;31m-------install linux dev environmet--------\e[0m"
pnpm -g i bash-language-server

echo -e "\e[1;31m-------install zsh--------\e[0m"
rm -rf $HOME/.local/share/.zsh-vi-mode
git clone https://github.com/jeffreytse/zsh-vi-mode.git $HOME/.local/share/.zsh-vi-mode

rm -rf $HOME/.local/share/.zsh-autosuggestions
git clone https://github.com/zsh-users/zsh-autosuggestions ~/.local/share/.zsh-autosuggestions

pkg install zsh starship
chsh -s zsh

echo -e "\e[1;31m-------restore home dir structure--------\e[0m"
echo "y" | termux-setup-storage
mkdir -p projects

if [ ! -L "$HOME/Public" ]; then
  ln -s $HOME/storage/shared/Public
fi

{{ end -}}
