{{ if eq .chezmoi.username "gitpod" -}}

#!/usr/bin/env bash

sudo apt install direnv

mkdir $HOME/.local/bin
curl -sS https://starship.rs/install.sh | sh -s -- --bin-dir $HOME/.local/bin -f

rm -rf $HOME/.local/share/.zsh-vi-mode
git clone https://github.com/jeffreytse/zsh-vi-mode.git $HOME/.local/share/.zsh-vi-mode

{{ end -}}
