{{ if eq .chezmoi.os "android" -}}

#!/bin/sh

pkg update -y
pkg upgrade -y

pkg install -y termux-tools glab-cli helix git-delta python direnv zsh starship
pip install shell-gpt fava

chsh -s zsh

{{ end -}}
